.logo{
    color: #ffffff;
    font-weight: bold;
}

.logo-left{
    background-color: #044602;
    padding: 3px 5px 3px 8px;
    border-radius: 4px;
}

.logo-right{
    padding: 3px 5px 3px 8px;
    margin-left: -5px;
    border-radius: 4px;
}